.ep-dg-4-blocks {
    &.red {
        h4 {
            color: red;
        }
    }

    &.blue {
        h4 {
            color: blue;
        }
    }

    &.yellow {
        h4 {
            color: yellow;
        }
    }
}
